.contacts{
  margin-top: 112px;
  padding-top: 36px;
  padding-bottom: 62px;
  background-color: #3B8AFF;
  @media all and (max-width: 1024px){
    margin-top: 50px;
  }
  &__container{

  }
  &__title{
    margin-bottom: 62px;
    color: #FFFFFF;
    &:before{
      background-color: #1D1D1D;
    }
  }
  &__maps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
  }
  &__item{
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    @media all and (max-width: 768px){
      width: 100%;
      margin-bottom: 50px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &-adress{
      flex: 1;
    }
    &-map{
      height: 330px;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
    &-row{
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-bottom: 14px;
      @media all and (max-width: 500px){
        margin-bottom: 10px;
      }
      svg{
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media all and (max-width: 500px){
        font-size: 14px;
      }
    }
  }
}