.footer{
  text-align: center;
  background-color: #1D1D1D;
  padding-top: 25px;
  padding-bottom: 34px;
  &__container{

  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
    @media all and (max-width: 1024px){
      flex-direction: column;
    }
  }
  &__logo{
    text-align: left;
    width: 20%;
    @media all and (max-width: 1024px){
      width: auto;
    }
  }
  &__nav{
    width: 60%;
    @media all and (max-width: 1024px){
      width: auto;
    }
    ul{
      display: flex;
      align-items: center;
      @media all and (max-width: 1024px){
        flex-direction: column;
        margin-top: 30px;
      }
      li{
        margin: 0 25px;
        @media all and (max-width: 1024px){
          margin-bottom: 10px;
        }
        a{
          color: #FFF;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.4px;
          text-decoration: none;
          @media all and (max-width: 1024px){
            font-size: 18px;
          }
        }
      }
    }
  }
  &__socials{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media all and (max-width: 1024px){
      width: auto;
      margin-top: 30px;
    }
    > a{
      margin-right: 17px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__bottom{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}