@import "normalize";
@import "aos";
@import "preloader";
@import "default";
$transition: 0.2s;
$px: 0.0520833333333333;
$rem: 16;

// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
html{
  font-family: 'Codec Cold', sans-serif;
  font-family: 'Codec Cold Trial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  @media all and (max-width: 1400px){
    font-size: 90%;
  }
  @media all and (max-width: 1024px){

  }
  @media all and (max-width: 768px){

  }
  @media all and (max-width: 500px){

  }
}
body{
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.locked{
  overflow: hidden;
}
img{
  max-width: 100%;
}
main{
  overflow: hidden;
  flex: 1;
}
.padding-right{
  padding-right: 100px;
  @media all and (max-width: 1400px){
    padding-right: 75px;
  }
  @media all and (max-width: 1024px){
    padding-right: 50px;
  }
  @media all and (max-width: 768px){
    padding-right: 35px;
  }
  @media all and (max-width: 500px){
    padding-right: 20px;
  }
}
.padding-left{
  padding-left: 100px;
  @media all and (max-width: 1400px){
    padding-left: 75px;
  }
  @media all and (max-width: 1024px){
    padding-left: 50px;
  }
  @media all and (max-width: 768px){
    padding-left: 35px;
  }
  @media all and (max-width: 500px){
    padding-left: 20px;
  }
}
.main-container{
  max-width: 1500px;
  margin: auto;
  width: 100%;
  @extend .padding-left;
  @extend .padding-right;
}
.padding-left-part{
  padding-left: calc(((100vw - 1920px) / 2) + 300px);
  @media all and (max-width: 1520px){
    padding-left: 100px;
  }
  @media all and (max-width: 1400px){
    padding-left: 75px;
  }
  @media all and (max-width: 1024px){
    padding-left: 50px;
  }
  @media all and (max-width: 768px){
    padding-left: 35px;
  }
  @media all and (max-width: 500px){
    padding-left: 20px;
  }
}
.button{

}
.section-title{
  color: #1B2B44;
  font-size: 67px;
  font-style: normal;
  font-weight: 800;
  line-height: 96.4%;
  letter-spacing: 1.675px;
  text-transform: uppercase;
  @media all and (max-width: 1024px){
    font-size: 42px;
  }
  @media all and (max-width: 768px){
    font-size: 36px;
  }
  @media all and (max-width: 500px){
    font-size: 30px;
  }
}
.left-part{
  width: 40%;
  @media all and (max-width: 1024px){
    width: 100%;
  }
}
.right-part{
  width: 60%;
  padding-left: 20px;
  @media all and (max-width: 1024px){
    width: 100%;
    padding-left: 0;
  }
}
.absolute{
  > div{
    position: absolute;
    pointer-events: none;
  }
  &__bg1{
    left: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }
  &__bg2{
    right: 0;
    top: 70vh;
    height: 100vh;
    z-index: 0;
  }
  &__bg3{
    left: 0;
    bottom: 0;
    height: 40vh;
    z-index: 0;
  }
  img{
    height: 100%;
    width: auto;
  }
}


@import "templates/header";
@import "templates/banner";

@import "templates/footer";

